<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="/styles/details.css">
</head>
<body>
    <nav class="navbar">
        <ul>
          <li><a href="../index.html">Restaurants</a></li>
        </ul>
      </nav>
      

      <h1 id="restaurant-name">Restaurant Name</h1>
      <h2>Menu</h2>

    <div id="menu">
        <h3>Appetizers</h3>
        <ul id="appetizers"></ul>

        <h3>Main Courses</h3>
        <ul id="mainCourses"></ul>

        <h3>Desserts</h3>
        <ul id="desserts"></ul>

        <h3>Drinks</h3>
        <ul id="drinks"></ul>
    </div>

    <script src="../scripts/details.js"></script>
</body>
</html>